/* 
 * custom.scss
 * Put overrides and customise Foundation
 */


// import the CSS framework
@import "foundation";

// Orbit
$include-html-orbit-classes: $include-html-classes;

.orbit-container {
  background: red;
}

.orbit-slides-container {
  background: #0092AA;
}

// We use these to control the caption styles
$orbit-container-bg: #15f5f5;
 $orbit-caption-bg: rgba(51,51,51, 0.8);
 $orbit-caption-font-color: #fff;
 $orbit-caption-font-size: rem-calc(14);
 $orbit-caption-position: "bottom"; // Supported values: "bottom", "under"
 $orbit-caption-padding: rem-calc(10 14);
 $orbit-caption-height: auto;

// We use these to control the left/right nav styles
// $orbit-nav-bg: none;
// $orbit-nav-bg-hover: rgba(0,0,0,0.3);
// $orbit-nav-arrow-color: #fff;
// $orbit-nav-arrow-color-hover: #fff;

// We use these to control the timer styles
// $orbit-timer-bg: rgba(255,255,255,0.3);
// $orbit-timer-show-probar-bar: true;

// We use these to control the bullet nav styles
// $orbit-bullet-nav-color: #ccc;
// $orbit-bullet-nav-color-active: #999;
// $orbit-bullet-radius: rem-calc(9);

// We use these to controls the style of slide numbers
// $orbit-slide-number-bg: rgba(0,0,0,0);
// $orbit-slide-number-font-color: #fff;
// $orbit-slide-number-padding: rem-calc(5);

// Graceful Loading Wrapper and preloader
// $wrapper-class: "slideshow-wrapper";
// $preloader-class: "preloader";

// probar bar
#probar {
  position: fixed;
  z-index: 2147483647;
  top: 0;
  left: -6px;
  width: 1%;
  height: 2px;
  background: #26EC15;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-transition: width 500ms ease-out,opacity 400ms linear;
  -ms-transition: width 500ms ease-out,opacity 400ms linear;
  -o-transition: width 500ms ease-out,opacity 400ms linear;
  -webkit-transition: width 500ms ease-out,opacity 400ms linear;
  transition: width 500ms ease-out,opacity 400ms linear;
}


#probar dd, #probar dt {
  position: absolute;
  top: 0;
  height: 2px;
  -moz-box-shadow: #26EC15 1px 0 6px 1px;
  -ms-box-shadow: #26EC15 1px 0 6px 1px;
  -webkit-box-shadow: #26EC15 1px 0 6px 1px;
  box-shadow: #26EC15 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#probar dt {
  opacity: .6;
  width: 180px;
  right: -80px;
  clip: rect(-6px,90px,14px,-6px);
}

#probar dd {
  opacity: .6;
  width: 20px;
  right: 0;
  clip: rect(-6px,22px,14px,10px);
}  